@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Lemonada);
@import url(https://fonts.googleapis.com/css?family=Oswald);

 .meni {
    color:white;
    text-decoration-color: white;
    background-color: #a00000;
    font-family: 'Oswald',serif;
 }
 .sajt {

   background-color: #eeeeee;
   font-family: 'Oswald',serif;
 }




