@charset "utf-8";
/* CSS Document */

 .meni {
    text-decoration-color: white;
    background-color: #a00000;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 .sajt {

   background-color: #eeeeee;
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }




