{% extends 'layout/base.html' %}
{% block title %} Add photo {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add profile photo</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <label for="user"></label>
                        <input id="user" type="hidden" name="user" value="{{ user.id }}" >
                        <label for="image"><h4>Chose your profile image: </h4></label>
                        <input id="image" type="file" name="image"><br>
                        <div class="form-group" align="left">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">Add Photo</button>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}