{% extends 'layout/base.html' %}


{% block body %}

    {% if all_issues %}
        <h3>All Issues</h3>
        <ul>
            {% for issue in all_issues %}
            {{ issue.project.proj_title }}
            <div class="container-fluid">
                <h3 >Issues:</h3>
                <h4>Issue title: <i><b><a href="{% url 'git_project:issue_details' issue.id %}" >"{{ issue.issue_title }}"</a></b></i> created on <u>{{ issue.issue_startdate }}</u></h4>
                Issue description: <i>{{ issue.issue_desc }}</i><br>
            </div>
            <!-- Post comments: -->


            <a href="{% url 'git_project:issue_details' issue.id %}">
                <button type="button" class="btn btn-default" >Comments</button>
            </a>

            <button type="button" class="btn btn-default">Commits</button>

            <br><br>

            {% endfor %}
        </ul>
    {% else %}
        <h3>There's no issues created!</h3>
    {% endif %}
    <div>

        <br><br>
        <div class="panel panel-default">
        <p>Aktivnosti  </p>
            <br>
            <br>
        </div>
    </div>

{% endblock %}