{% extends 'layout/base.html' %}
{% block title %} Change password {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Change password</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

                          {% csrf_token %}
                          {{ form }}
                          <button type="submit">Save changes</button>

                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}