{% extends 'layout/base.html' %}
{% block title %} Delete photo {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Delete profile photo</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <h4>Are You sure You want to delete Your profile photo!?</h4>
                        <label for="user"></label>
                        <input id="user" type="hidden" name="user" value="{{ user.id }}" ><br><br>
                        <div align="center">
                            <button type="submit" class="btn btn-success btn-block">Yes</button>
                        </div>
                        {% endif %}
                    </form>
                    <div align="center">
                        <a href="{% url 'git_project:user_profile' %}">
                            <button class="btn btn-danger btn-block">No</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}