{% extends 'layout/base.html' %}
{% block title %} Project Detail {% endblock %}
{% block body %}

<div class="container-fluid" style="background-color: #F7F1F1">
<h1>Project title: <i>{{ project.proj_title }}</i></h1><br>
<h4>Created: <i>{{ project.proj_start }}</i></h4>
<h5>Description: <i>{{ project.proj_desc }}</i></h5><br>
<h5 align="right"><i>Project completed:</i>
    {% if user.id == project.user.id %}
    <b><a href="{% url 'git_project:project_update' project.id %}">
        {{ project.proj_completed }} %
    </a></b></h5><br>
    {% else %}
        <b>{{ project.proj_completed }} %</b>
    {% endif %}
</div>
<div class="container-fluid">
    <a href="#demo" class="btn btn-info btn-block" data-toggle="collapse">Add New Issue</a>
    <div id="demo" class="collapse" >
        <form class="form-horizontal" action="{% url 'git_project:issue_add' project.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <label for="project">Create new issue for "{{ project.proj_title }}"</label><br>
            <input id="project" type="hidden" name="project" value="{{ project.id }}">
            <label for="issue_title">Issue Title: </label>
            <input id="issue_title" type="text" name="issue_title"><br>
            <textarea id="issue_desc" name="issue_desc" rows="5" cols="50" placeholder="Issue description"></textarea><br>
            <label for="issue_opened">Issue opened: </label>
            <input type="checkbox" id="issue_opened" name="issue_opened"><br>
            <label for="issue_completed">Issue Completed: </label>
            <input id="issue_completed" type="number" name="issue_completed"><br>

            <button type="submit" class="btn btn-success">Create Issue</button>
            {% endif %}
        </form>
    </div>
</div>

<div class="container-fluid">
<h3 >Issues:</h3>
{% for issue in project.issue_set.all %}
{% if project.id == issue.project.id %}
<h4>Issue title: <i><b><a href="{% url 'git_project:issue_details' issue.id %}" >"{{ issue.issue_title }}"</a></b></i> created on <u>{{ issue.issue_startdate }}</u></h4>
Issue description: <i>{{ issue.issue_desc }}</i><br>
<a href="{% url 'git_project:issue_details' issue.id %}">
    <button type="button" class="btn btn-default" >Comments</button>
</a>



    <br><br>
{% endif %}
{% endfor %}
</div>

<div class="container-fluid">
<h4>Project assigned:</h4>
{% for role in all_roles %}
{% if project.id == role.project.id %}
<div class="container-fluid" style="background-color: #C2C2C2"><h5> User: <b>{{ role.user }}</b> is assigned as <i>{{ role.role_history }}</i></h5></div>
{% endif %}
{% endfor %}
</div>



{% if error_msg %}

    <p><strong>{{error_msg}}</strong></p>

{% endif %}



{% endblock %}















