{% extends 'layout/base.html' %}
{% block title %} Project Detail {% endblock %}
{% block body %}


<h1>Project title: <i>{{ project.proj_title }}</i></h1><br>
<h4>Created: <i>{{ project.proj_start }}</i></h4>
<h5>Description: <i>{{ project.proj_desc }}</i></h5><br><br>

<div class="container">
<h3 >Issues:</h3>
{% for issue in project.issue_set.all %}
{% if project.id == issue.project.id %}
<h4>Issue title: <i><b>"{{ issue.issue_title }}"</b></i> created on <u>{{ issue.issue_startdate }}</u></h4>
Issue description: <i>{{ issue.issue_desc }}</i><br><br>
{% endif %}
{% endfor %}
</div><br><br>

<div class="container">
<h4>Project assigned:</h4>
{% for role in all_roles %}
{% if project.id == role.project.id %}
<h5> User: {{ role.user }} is assigned as <i>{{ role.role_history }}</i></h5>
{% endif %}
{% endfor %}
</div>



{% if error_msg %}

    <p><strong>{{error_msg}}</strong></p>

{% endif %}



{% endblock %}















