{% extends 'layout/base.html' %}
{% block title %} Registration {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Create new acount</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <input id="username" type="text" class="form-control" name="username" placeholder="username"><br>
                        <input id="email" type="text" class="form-control" name="email" placeholder="email"><br>
                        <input id="password" type="text" class="form-control" name="password" placeholder="password"><br>
                        <button type="submit" class="btn btn-success">Register</button>
                        <button type="submit" class="btn btn-success">Login</button>
                        {% csrf_token %}
                        {% include 'layout/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">


                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}