{% extends 'layout/base.html' %}
{% block title %} Create a new Project {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10">
        <div class="col-sm-12 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Create new project</h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <label for="user">Project created by: <i>{{ user.username }}</i> </label><br>
                        <input id="user" type="hidden" name="user" value="{{ user.id }}">
                        <label for="proj_title">Project Title: </label>
                        <input type="text" id="proj_title" name="proj_title"><br>
                        <label for="proj_desc">Project Description: </label>
                        <textarea id="proj_desc" name="proj_desc" rows="5" cols="50"></textarea><br>
                        <label for="proj_completed">Project Completed: </label>
                        <input type="text" id="proj_completed" name="proj_completed"><br><br>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}